
@{
    ViewBag.Title = "Hakkimizda";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<section style="background-color:#7A8494" class="page-header page-header-center  page-header-primary page-header-color page-header-more-padding page-header-no-title-border">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 style="font-size:40px;color:#FEEA0D">
                    Hakk&#305;m&#305;zda
                </h1>
            </div>
        </div>
    </div>
</section>

<div class="container sayfaIcerik" id="statik_289">

    <div class="row">
        <div class="col-md-12">
            <div id="ctl00_cph1_PanelOrta">


                <!-- OrtaAlan2 Başlangıç -->
                <div id="ctl00_cph1_ctl00_panel_orta">


                    <!-- ##Blok -->

                    <div data-appear-animation="swing">

                        <div class="col-md-4" id="detayImg">
                            <a class="img-thumbnail lightbox" href="/Content/Home/Home2site_document/sayfa_img/hakkimizda-769376858_b.jpg"
                               title="Hakkımızda" data-plugin-options='{"type":"image"}'>
                                <img class="img-responsive" alt="Hakkımızda" src="/Content/Home/Home2/site_document/sayfa_img/hakkimizda-769376858_s.jpg"><span class="zoom">
                                    <i class="fa fa-search"></i>
                                </span>
                            </a>
                        </div>
<br />
                        <br />
                        Sizlere daha iyi hizmet verebilmek adına tüm web hizmetlerini en hızlı biçimde sunmaktayız. Sürekli güncellenen teknolojimiz sayesinde en hızlı destek ve web hizmetini sizlere en uygun biçimde sunmaktayız.
                    </div>
                    <div id="ctl00_cph1_ctl00_ctl00_panel_alan_4">


                    </div>
                </div>
                <!-- OrtaAlan2 Son -->
            </div>
        </div>

    </div>
</div>

<div id="ctl00_cph1_orta">

    <!-- OrtaAlan1 Başlangıç -->
    <div id="ctl00_cph1_ctl01_panel_orta">


    </div>
    <!-- OrtaAlan1 Son -->

