
@{
    ViewBag.Title = "ilanDetay";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div role="main" class="main">


    <!-- Üst Başlangıç -->
    <div id="ctl00_cph1_UzunAlan_panel_alan_4">


    </div>
    <!-- Üst Son -->
    <section style="background-color:#7A8494" class="page-header page-header-center  page-header-primary page-header-color page-header-more-padding page-header-no-title-border">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 style="font-size:40px;color:#FEEA0D">
                        Avc&#305;lar Sat&#305;l&#305;k Daire
                    </h1>
                    <ul class="breadcrumb">
                        <li>
                            <a href='../../satilik/k/225.html'>Satılık</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <div class="container" id="urun_1326">

        <div class="row">
            <div class="col-md-12">
                <div id="ctl00_cph1_PanelOrta">


                    <!-- OrtaAlan2 Başlangıç -->
                    <div id="ctl00_cph1_ctl00_panel_orta">



                        <div class="col-md-12" data-appear-animation="swing">

                            <!-- DetayImage -->


                            <div class="shop">
                                <div class="col-md-4">
                                    <div class="owl-carousel owl-theme lightbox" data-plugin-options='{"delegate": "a", "type": "image", "gallery": {"enabled": true}}' id="thumbGalleryDetail">

                                        <div>
                                            <a href="../../site_document/urun_img/avcilar-satilik-daire-600470407_b.jpg">
                                                <span class="img-thumbnail">
                                                    <img alt="Avcılar Satılık Daire" class="img-responsive" src="../../site_document/urun_img/avcilar-satilik-daire-600470407_b.jpg">
                                                </span>
                                            </a>
                                        </div>

                                    </div>
                                    <div class="owl-carousel owl-theme manual thumb-gallery-thumbs mt" id="thumbGalleryThumbs">


                                        <div>
                                            <span class="img-thumbnail cur-pointer">
                                                <img alt="Avcılar Satılık Daire" class="img-responsive" src="../../site_document/urun_img/avcilar-satilik-daire-600470407_b.jpg">
                                            </span>
                                        </div>
                                        <div>
                                            <span class="img-thumbnail cur-pointer">
                                                <img alt="Avcılar Satılık Daire" class="img-responsive" src="../../site_document/urun_img/avcilar-satilik-daire-600470407_b.jpg">
                                            </span>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-md-8 ">
                                    <div class="summary entry-summary">
                                        <p class="price" style="margin-top:0px;"><span class="amount">Fiyat: 150.000 TL </span></p><div class="urun_aciklama">Emlak Tipi  Satılık Daire<br>m²  300<br>Oda Sayısı  3+1<br>Bina Yaşı  0<br>Bulunduğu Kat  15<br>Kat Sayısı  30 ve üzeri<br>Isıtma  Merkezi Sistem (Pay Ölçer)<br>Banyo Sayısı  2<br>Eşyalı  Hayır<br>Kullanım Durumu  Boş<br>Site İçerisinde  Evet<br>Aidat (TL)  Belirtilmemiş<br>Krediye Uygun  Evet<br></div>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="col-md-12">
                            <div id="ctl00_cph1_ctl00_ctl00_panel_alan_4">


                            </div>
                        </div>
                    </div>
                    <!-- OrtaAlan2 Son -->
                </div>
            </div>

        </div>
    </div>

    <div id="ctl00_cph1_orta">

        <!-- OrtaAlan1 Başlangıç -->
        <div id="ctl00_cph1_ctl01_panel_orta">


            <!-- ##Blok -->
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12" data-appear-animation="flash">
                            <div class="Blok" id="urunler_siparis">
                                <!-- Blok Başlık -->
                                <div class="heading heading-border heading-middle-border heading-middle-border-center"><h2>Sipariş Ver</h2></div>
                                <!-- Blok Başlık -->
                                <!-- Blok Alan -->
                                <div class="Area">
                                    <div class="col-md-12">



                                        <div class="clearfix_10">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div id="ctl00_cph1_ctl01_ctl03_Panel4" onkeypress="javascript:return WebForm_FireDefaultButton(event, &#39;ctl00_cph1_ctl01_ctl03_Button1&#39;)">

                                            <div class="margin-bottom input-group-lg input-group">
                                                <div class="col-md-6">
                                                    <br />
                                                    <label>
                                                        Ad-Soyad
                                                    </label>
                                                    <span id="ctl00_cph1_ctl01_ctl03_RequiredFieldValidator1" style="display:inline-block;color:Red;border-style:None;display:none;">*</span>:<div class="clearfix5"></div>
                                                    <input name="ctl00$cph1$ctl01$ctl03$txt_ad" type="text" id="ctl00_cph1_ctl01_ctl03_txt_ad" class="form-control" /><div class="clearfix5"></div>
                                                </div>
                                                <div class="col-md-6">
                                                    <br />
                                                    <label>
                                                        Telefon
                                                    </label>
                                                    <span id="ctl00_cph1_ctl01_ctl03_RequiredFieldValidator2" style="display:inline-block;color:Red;border-style:None;display:none;">*</span>:<div class="clearfix5"></div>
                                                    <input name="ctl00$cph1$ctl01$ctl03$txt_tel" type="text" id="ctl00_cph1_ctl01_ctl03_txt_tel" class="form-control" /><div class="clearfix5"></div>
                                                </div>
                                                <div class="col-md-6">
                                                    <br />
                                                    <label>
                                                        GSM
                                                    </label>
                                                    <span id="ctl00_cph1_ctl01_ctl03_RequiredFieldValidator4" style="display:inline-block;color:Red;border-style:None;display:none;">*</span>:<div class="clearfix5"></div>
                                                    <input name="ctl00$cph1$ctl01$ctl03$txt_cep" type="text" id="ctl00_cph1_ctl01_ctl03_txt_cep" class="form-control" /><div class="clearfix5"></div>
                                                </div>
                                                <div class="col-md-6">
                                                    <br />
                                                    <label>
                                                        E-Mail
                                                    </label>
                                                    <span id="ctl00_cph1_ctl01_ctl03_RegularExpressionValidator1" style="display:inline-block;color:Red;border-style:None;width:212px;display:none;">*</span>
                                                    <span id="ctl00_cph1_ctl01_ctl03_RequiredFieldValidator3" style="display:inline-block;color:Red;border-style:None;display:none;">*</span>:<div class="clearfix5"></div>
                                                    <input name="ctl00$cph1$ctl01$ctl03$txt_email" type="text" id="ctl00_cph1_ctl01_ctl03_txt_email" class="form-control" /><div class="clearfix5"></div>
                                                </div>
                                                <div class="col-md-12">
                                                    <br />
                                                    <label>
                                                        Mesaj
                                                    </label>
                                                    <span id="ctl00_cph1_ctl01_ctl03_RequiredFieldValidator5" style="color:Red;display:none;">*</span>:<div class="clearfix5"></div>

                                                    <script type="text/javascript">
                                            function textCounter(field, cnt, maxlimit) {
                                                var cntfield = document.getElementById(cnt);
                                                if (field.value.length > maxlimit) // if too long...trim it!
                                                    field.value = field.value.substring(0, maxlimit);
                                                    // otherwise, update 'characters left' counter
                                                else
                                                    cntfield.innerHTML = maxlimit - field.value.length;
                                                var re = /(<([^>]+)>)/gi;
                                                field.value = field.value.replace(re, "");
                                            }
                                                    </script>
                                                    <textarea name="ctl00$cph1$ctl01$ctl03$txt_mesaj" rows="2" cols="20" id="ctl00_cph1_ctl01_ctl03_txt_mesaj" class="form-control" onKeyDown="textCounter(this,sayac500);" onKeyUp="textCounter(this,&#39;sayac&#39; ,500);" style="height:100px;"></textarea><div class="clearfix5"></div>
                                                    En fazla 500 karakter.
                                                    <sayac id='sayac'>500</sayac>
                                                    karakter kaldı.<div class="clearfix5"></div>
                                                </div>
                                                <div class="col-md-12">
                                                    <br />
                                                    <label>
                                                        Güvenlik<span id="ctl00_cph1_ctl01_ctl03_RequiredFieldValidator6" style="color:Red;display:none;">*</span>
                                                    </label>
                                                    <div class="guvenlik">
                                                        <img id="ctl00_cph1_ctl01_ctl03_Image1" src="../../guvenlik/Captcha.gif" style="border-width:0px;" />
                                                    </div>

                                                    <div class="clearfix5"></div>
                                                    <input name="ctl00$cph1$ctl01$ctl03$txt_newcaptcha" type="text" id="ctl00_cph1_ctl01_ctl03_txt_newcaptcha" class="form-control" /><div class="clearfix5"></div>
                                                </div>
                                                <div class="col-md-12">
                                                    <input type="submit" name="ctl00$cph1$ctl01$ctl03$Button1" value="Gönder" id="ctl00_cph1_ctl01_ctl03_Button1" class="button_all btn btn-primary" />
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!-- Blok Alan -->
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- OrtaAlan1 Son -->
    </div>

</div>