
@{
    ViewBag.Title = "Ilanlar";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

@using real_estate_web_application.Models;
@model List<Ilan>

<section style="background-color:#7A8494" class="page-header page-header-center  page-header-primary page-header-color page-header-more-padding page-header-no-title-border">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 style="font-size:40px;color:#FEEA0D">
                    &#304;lanlar&#305;m&#305;z
                </h1>
            </div>
        </div>
    </div>
</section>
<div class="container urunler-container" id="urunler">
    <div class="row">
        <div class="col-md-12">
            <div id="ctl00_cph1_PanelOrta">


                <!-- OrtaAlan2 Başlangıç -->
                <div id="ctl00_cph1_ctl00_panel_orta">

                    <div id="ctl00_cph1_ctl00_ctl00_panel_kategori">


                        <div class="row div_urunkat">
                            <div class="col-md-12">
                                <div class="heading heading-border heading-middle-border heading-middle-border-center">
                                    <h3><strong>İlan Gruplarımız</strong></h3>
                                </div>
                            </div>
                        </div>
                        <div class="row div_urunkatic">
                            <div class="col-md-12">
                                <div class="shop">


                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">

                                                <ul class="sec_subproducts con_sp_1 products product-thumb-info-list" data-plugin-masonry data-plugin-options='{"layoutMode": "fitRows"}'>
                                                    <li data-appear-animation="swing" class="col-md-3 col-sm-6 col-xs-12 product" id="blid_">
                                                        <span class="product-thumb-info">
                                                            <a href="/Home/Kiralik">
                                                                <span class="product-thumb-info-image">
                                                                    <span class="product-thumb-info-act">
                                                                        <em>
                                                                            &#304;lanlar&#305; G&#246;ster
                                                                        </em>
                                                                    </span>
                                                                    <img alt="Kiral&#305;k" class="img-responsive" src="/Content/Home/Home2/site_document/urun_img/bagcilarda-kiralik-daire-2038455565_s.jpg">
                                                                </span>
                                                            </a>
                                                            <span class="product-thumb-info-content">
                                                                <a href="/Home/Kiralik" title="Kiral&#305;k"><b>Kiral&#305;k</b></a>
                                                            </span>
                                                        </span>
                                                    </li>


                                                    <li data-appear-animation="swing" class="col-md-3 col-sm-6 col-xs-12 product" id="blid_">
                                                        <span class="product-thumb-info">
                                                            <a href="/Home/Satilik">
                                                                <span class="product-thumb-info-image">
                                                                    <span class="product-thumb-info-act">
                                                                        <em>
                                                                            &#304;lanlar&#305; G&#246;ster
                                                                        </em>
                                                                    </span>
                                                                    <img alt="Sat&#305;l&#305;k" class="img-responsive" src="/Content/Home/Home2/site_document/urun_img/uskudar-satilik-daire-1415442751_s.jpg">
                                                                </span>
                                                            </a>
                                                            <span class="product-thumb-info-content">
                                                                <a href="/Home/Satilik" title="Sat&#305;l&#305;k"><b>Sat&#305;l&#305;k</b></a>
                                                            </span>
                                                        </span>
                                                    </li>
                                                </ul>


                                            </div>
                                        </div>
                                    </div>
                                    <!-- Blok Alan -->
                                </div>
                            </div>
                        </div>

                    </div>

                    <div id="ctl00_cph1_ctl00_ctl00_altBaslik">

                        <div class="row mt-xlg div_urunler">
                            <div class="col-md-12">
                                <div class="heading heading-border heading-middle-border heading-middle-border-center">
                                    <h3>
                                        <strong>
                                            İlanlarımız
                                        </strong>
                                    </h3>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row div_urunleric">
                        <div class="col-md-12">

                        </div>
                        <div class="shop">
                            <div class="row">
                                <div class="col-md-12">

                                    <ul class="sec_subproducts con_sp_1 products product-thumb-info-list" data-plugin-masonry data-plugin-options='{"layoutMode": "fitRows"}'>
                                        @foreach (Ilan ilan in Model)
                                        {
                                           
                                                <li data-appear-animation="swing" class="col-md-3 col-sm-6 col-xs-12 product" id="blid_1323">
                                                    <span class="product-thumb-info">
                                                        <a href="/Content/Home/Home2/antalyada-kiralik-ev/p/1323.html">
                                                            <span class="product-thumb-info-image">
                                                                <span class="product-thumb-info-act">
                                                                    <em>
                                                                        &#304;lan Detay&#305;n&#305; G&#246;ster
                                                                    </em>
                                                                </span>
                                                                <img alt="Antalyada Kiral&#305;k Ev" class="img-responsive" src="/Content/Home/Home2/site_document/urun_img/antalyada-kiralik-ev-1724773383_s.jpg">
                                                            </span>
                                                        </a>
                                                        <span class="product-thumb-info-content">
                                                            <a href="../../antalyada-kiralik-ev/p/1323.html" title="Antalyada Kiral&#305;k Ev"><b>@ilan.baslik</b></a>
                                                            <span class="price pt-md">
                                                                @ilan.fiyat TL
                                                            </span>
                                                        </span>
                                                    </span>
                                                </li>

                                           

                                        }
                                    </ul>


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row div_urunsayfa">
                        <div class="col-md-12">
                            <div id="sayfalama">

                            </div>
                            <script type="text/javascript">
            var pager = document.getElementById("sayfalama").innerHTML;
            var divs = document.getElementById("sayfalama").getElementsByTagName("a");
            for (var i = 0; i < divs.length; i++) {
                pager = pager.replace("?", "../../index.html");
                pager = pager.replace("&nbsp;", "");
                pager = pager.replace("&amp;", "../../index.html");
            }
            document.getElementById("sayfalama").innerHTML = pager;
                            </script>
                        </div>
                    </div>

                </div>
                <!-- OrtaAlan2 Son -->
            </div>
        </div>

    </div>
</div>
