
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

@section head{

    <link rel="stylesheet" type="text/css" href="/engine2/style.css" />
    <script type="text/javascript" src="/engine2/jquery.js"></script>

}

@using real_estate_web_application.Models;
<!--Slider-->
<div id="wowslider-container1">
    <div class="ws_images">
        <ul>
            <li><img src="/data2/images/slide1.jpg" alt="" title="" id="wows1_0" /></li>
            <li><img src="/data2/images/untitled1.jpg" alt="" title="" id="wows1_1" /></li>
            <li><img src="/data2/images/slide2.jpg" alt="" title="" id="wows1_2" /></li>
            <li><a href="/http://wowslider.net"><img src="/data2/images/slide3.jpg" alt="image slider" title="" id="wows1_3" /></a></li>
            <li><img src="/data2/images/slide4.jpg" alt="" title="" id="wows1_4" /></li>
        </ul>
    </div>
    <div class="ws_bullets">
        <div>
            <a href="/#" title=""><span><img src="/data2/tooltips/slide1.jpg" alt="" />1</span></a>
            <a href="/#" title=""><span><img src="/data2/tooltips/untitled1.jpg" alt="" />2</span></a>
            <a href="/#" title=""><span><img src="/data2/tooltips/slide2.jpg" alt="" />3</span></a>
            <a href="/#" title=""><span><img src="/data2/tooltips/slide3.jpg" alt="" />4</span></a>
            <a href="/#" title=""><span><img src="/data2/tooltips/slide4.jpg" alt="" />5</span></a>
        </div>
    </div><div class="ws_script" style="position:absolute;left:-99%"><a href="/http://wowslider.net">html slideshow</a> by WOWSlider.com v8.8</div>
    <div class="ws_shadow"></div>
</div>



<!-- OrtaAlan1 Başlangıç -->
<div id="ctl00_cph1_OrtaAlan_panel_orta">
    <section class="sec_products con_ps_4 ui_ps_45 parallax section section-parallax section-center mb-none" data-stellar-background-ratio="0.5" style="background-color:#FFFFFF;">
        <div class="container">
            <div class="shop">
                <div class="row">
                    <div data-appear-animation="flash" class="col-md-12">
                        <br />
                        <h2 style="color:#000000">
                            Yeni Ürünler
                        </h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
    <ul class="products product-thumb-info-list tur_urun_4" data-plugin-masonry="" data-plugin-options='{"layoutMode": "fitRows"}'>
     
      @foreach (Ilan item in ViewBag.iln)
      {

          if (item.vitrin == true)
          {
                <li data-appear-animation="flash" class="blid_1328 col-md-3 col-sm-6 col-xs-12 product">
                    <a href="uskudar-satilik-daire/p/1328.html" title="&#220;sk&#252;dar Sat&#305;l&#305;k Daire">
                        <span class="onsale menuarkaplan">@item.fiyat </span>
                        <span class="product-thumb-info thumb-info-no-zoom">
                            <img alt="&#220;sk&#252;dar Sat&#305;l&#305;k Daire" class="img-responsive" src="/Content/Home/Home2/site_document/urun_img/uskudar-satilik-daire-1415442751_s.jpg">
                            <span class="product-thumb-info-content">
                                @item.baslik
                            </span>
                        </span>
                    </a>                    
                </li>   
          }
      }
                   </ul>               
                  </div> 
                 </div>
               </div>
            </div>
            <div class="row gosterim_tumu">
                <div data-appear-animation="flash" class="col-md-12 center">
                    <a class="btn btn-primary btn-lg" href="/Home/Ilanlar" title="T&#252;m&#252;n&#252; G&#246;ster">
                        T&#252;m&#252;n&#252; G&#246;ster
                    </a><br /><br />
                </div>
            </div>
        </div>
    </section>
    </div>    









@section script{
    <script type="text/javascript" src="/engine2/wowslider.js"></script>
    <script type="text/javascript" src="/engine2/script.js"></script>
}


