
@{
    ViewBag.Title = "Satilik";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}


@using real_estate_web_application.Models;
@model List<Ilan>
<div role="main" class="main">


    <!-- Üst Başlangıç -->
    <div id="ctl00_cph1_UzunAlan_panel_alan_4">


    </div>
    <!-- Üst Son -->
    <section style="background-color:#7A8494" class="page-header page-header-center  page-header-primary page-header-color page-header-more-padding page-header-no-title-border">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 style="font-size:40px;color:#FEEA0D">
                        <b>Sat&#305;l&#305;k İlanlar</b>
                    </h1>
                </div>
            </div>
        </div>
    </section>
    <div class="container urunler-container" id="urunler">
        <div class="row">
            <div class="col-md-12">
                <div id="ctl00_cph1_PanelOrta">


                    <!-- OrtaAlan2 Başlangıç -->
                    <div id="ctl00_cph1_ctl00_panel_orta">




                        <div class="row div_urunleric">
                            <div class="col-md-12">

                            </div>
                            <div class="shop">
                                <div class="row">
                                    <div class="col-md-12">

                                        <ul class="sec_subproducts con_sp_1 products product-thumb-info-list" data-plugin-masonry data-plugin-options='{"layoutMode": "fitRows"}'>
                                            @foreach (Ilan item in ViewBag.satilikIlanlar)
                                            {
                                                <li data-appear-animation="swing" class="col-md-3 col-sm-6 col-xs-12 product" id="blid_1326">
                                                <span class="product-thumb-info">
                                                    <a href="ilanDetay/@item.ilanID">
                                                        <span class="product-thumb-info-image">
                                                            <span class="product-thumb-info-act">
                                                                <em>
                                                                    &#304;lan Detay&#305;n&#305; G&#246;ster
                                                                </em>
                                                            </span>
                                                            <img alt="Avc&#305;lar Sat&#305;l&#305;k Daire" class="img-responsive" src="/Content/Home/Home2/site_document/urun_img/avcilar-satilik-daire-600470407_s.jpg">
                                                        </span>
                                                    </a>
                                                    <span class="product-thumb-info-content">
                                                        <a href="../../avcilar-satilik-daire/p/1326.html" title="Avc&#305;lar Sat&#305;l&#305;k Daire"><b>@item.baslik</b></a>
                                                        <span class="price pt-md">
                                                            @item.fiyat
                                                        </span>
                                                    </span>
                                                </span>
                                            </li>
                                            }
                                        </ul>


                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row div_urunsayfa">
                            <div class="col-md-12">
                                <div id="sayfalama">

                                </div>
                                <script type="text/javascript">
            var pager = document.getElementById("sayfalama").innerHTML;
            var divs = document.getElementById("sayfalama").getElementsByTagName("a");
            for (var i = 0; i < divs.length; i++) {
                pager = pager.replace("?", "../../index.html");
                pager = pager.replace("&nbsp;", "");
                pager = pager.replace("&amp;", "../../index.html");
            }
            document.getElementById("sayfalama").innerHTML = pager;
                                </script>
                            </div>
                        </div>

                    </div>
                    <!-- OrtaAlan2 Son -->
                </div>
            </div>

        </div>
    </div>
    <div id="ctl00_cph1_orta">

        <!-- OrtaAlan1 Başlangıç -->
        <div id="ctl00_cph1_ctl01_panel_orta">


        </div>
        <!-- OrtaAlan1 Son -->
    </div>

</div>

